{{>header.mustache}}
<div class="content">
	<div class="page-header">
		<h1>What did you do?</h1>
	</div>
	<div class="row">
		<div id="groups" class="span10">
			{{#entry_groups}}
			<div class="group" id="{{ Key }}">
			<h1>{{ PrettyGroupDate }} <small>{{ PrettyTimeOfDay }}</small></h1>
			{{#Entries}}
			<div id="entry_{{ Id }}" class="entry">
				<div class="entryText">
<span style="position: relative; top:0; right:0; float: right;" class="entryText-menu twipsy" title="{{PrettyDate}}">More</span>
{{{PrettyMessage}}}
				</div>
			</div>
<script language="JavaScript" type="text/javascript">
$(function() {
	renderTags("{{ Id }}", {{#Tags}}"{{Value}}", {{/Tags}} "On {{ PrettyDate}}");
});
</script>
			{{/Entries}}
			</div>
			{{/entry_groups}}
		</div>
		<div class="span4">
			<h3>Tags and People</h3>
			<ul id="tagList"></ul>
			<p><a id="reset" href="#">Reset</a></p>
		</div>
	</div>
</div>
<script language="JavaScript" type="text/javascript">
$(document).ready(function(){
	renderTagsList();

	$(".person").click(function () {
		var tag = $(this).text()
		$(this).effect("highlight", {}, 3000);
		$.map(groups, function(value, group_id) {
			if (value['people'].indexOf(tag) != -1) {
				$("#" + group_id).show();
				$.each(value['entries'], function(index, entry_id) { 
					if (entries[entry_id]['people'].indexOf(tag) != -1) {
						$("#entry_" + entry_id).show();
					} else {
						$("#entry_" + entry_id).fadeOut("slow");
					}
				});
			} else {
				$("#" + group_id).fadeOut("slow");
			}
		});
	});

	$(".tag").click(function () {
		var tag = $(this).text()
		$(this).effect("highlight", {}, 3000);
		$.map(groups, function(value, group_id) {
			if (value['tags'].indexOf(tag) != -1) {
				$("#" + group_id).show();
				$.each(value['entries'], function(index, entry_id) { 
					if (entries[entry_id]['tags'].indexOf(tag) != -1) {
						$("#entry_" + entry_id).show();
					} else {
						$("#entry_" + entry_id).fadeOut("slow");
					}
				});
			} else {
				$("#" + group_id).fadeOut("slow");
			}
		});
	});

	$('#reset').click(function() {
		$.map(groups, function(value, key) {
			$("#" + key).show();
			$.each(value['entries'], function(index, entry_id) {
				$("#entry_" + entry_id).show();
			});
		});
	});

	$(".twipsy").twipsy({
		live: true
	});
});
</script>
{{>footer.mustache}}
